/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-custom-card-block {
	position: relative;
	border-radius: 3px;
	// border: 1px solid #f4f4f4;
	// background-color: #21759b;
	padding: 4em 2em 1.25em 1em;
	background-repeat: no-repeat;
	background-size: cover;
}

.wp-block-create-block-wp-custom-card-block .square {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	width: 1.5em;
	height: 1.5em;
	opacity: 0.6;
}

.wp-block-create-block-wp-custom-card-block .overlay {
	max-width: 80%;
	background: rgba(0, 0, 0, 0.25);
	color: #eee;
	padding: 0.75em;
	margin-left: .25em;
}

.wp-block-create-block-wp-custom-card-block h3 {
	font-size: 1.3rem;
	font-weight: 500;
	margin: 0 0 0.5em 0;
}

.wp-block-create-block-wp-custom-card-block p {
	margin: 0;
	font-size: 14px;
}
